<%= simple_form_for(@product_line_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :product_line_item_quantity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
