<% if user_signed_in? %>
  I will probably show a dashboard for the user role here.
<% else %>

<div class="sold">
	<div class="row">
  	<div class="span4">
  		<center><h3 class="heading3">Print On Rails</h3></center>
  		<center><P class="Description">Order Management Software for the Screen Print and Embroidery industry. No matter how big or how small, Print On Rails was designed to make your business run smoothly.</p></center>
  			<form class="Sign_up">
  				<fieldset>
    				<center><legend class="legend">Sign Up Now!</legend></center>
    					<input class="input-block-level" type="text" placeholder="Email"><br>
    					<input class="input-block-level" type="text" placeholder="Password">
              <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-block btn-primary" %>
              <%= link_to "Log In", new_user_session_path, class: "btn btn-large btn-block btn-warning" %>
    			</fieldset>
				</form>
  			
  	</div>
  	<div class="span8 pull-right">
			<div class="embed-container">
				<center>
	   			<iframe 
		      src="http://player.vimeo.com/video/22669590?title=0&amp;byline=0&amp;portrait=0"frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
	   			</iframe>
   			</center>
</div>

  		</div>
</div>
</div>
<% end %>