<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
	  		<%= @project.description %>
			</p>
			<p>
	  		<%= @project.user.name %>
			</p>
			<% if current_user == @project.user %>

			<%= link_to 'Edit', edit_project_path(@project) %> |
			<% end %>
			<%= link_to 'Back', projects_path %>
		</div>
	</div>
</div>