<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<p>
				<b>Description:</b>
	  		<%= @project.description %>
			</p>
			<%= link_to 'Edit', edit_project_path(@project) %> |
			<%= link_to 'Back', projects_path %>
		</div>
	</div>
</div>




