$navbarBackgroundHighlight: orange;
$navbarBackground: orange;
$navbarHeight: 30px;
$navbarBrandColor: #fff;
$navbarLinkColor: #fff;

@import 'bootstrap';

body {
	padding-top: 20px;
}

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}
@import 'bootstrap-responsive';

/* homepage css */
div.row.homepage {
	background: image-url('screen.png')
	}

div.hero-unit.signup {
	background-color: rgba(0, 0, 255, 0.5);
	
}

h2.signup {
	color: #fff;
}

p.signup {
	color: #fff;
}
